<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Review</title>
  </head>
  <body>
    <h3>id: {{ id }} </h3>
    <h1>Title: {{ title }}</h1>
    <h2>Author: {{ author }}</h2>
    {% for review in book.review_set.all %}
      {{review.review}}
    {% endfor %}
    <form action='/books/add_review/{{book.id}}' method='post'>
      <textarea name = 'review' rows='8' cols='40'></textarea>
      <h4>
        <label for='rating'>Rating: </label>
        <select id='rating' name='rating'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select> Stars.
      </h4>
      <input type='submit' value= 'Write a review for this book!'>
    </form>
  <!-- go back to home page -->
    <form action="/books" method='POST'>
     {% csrf_token %}
     <input type="submit" value='Go Back'>
    </form>

  </body>
</html>
