<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login and Registration</title>
		{% load staticfiles %}
	</head>
	<body>
		<div id="wrapper">
			<h1>Registration</h1>
			<form action="/process/register" method="post">
				{% csrf_token %}
				<p>
					<label for="first_name">First Name:</label>
					<input type="text" name="first_name">
				</p>
				<p>
					<label for="last_name">Last Name:</label>
					<input type="text" name="last_name">
				</p>
				<p>
					<label for="email_register">Email:</label>
					<input type="email" name="email">
				</p>
				<p>
					<label for="password_register">Password:</label>
					<input type="password" name="password">
				</p>
				<p>
					<label for="confirm_pw">Confirm pw:</label>
					<input type="password" name="confirm_pass">
				</p>
				<p>
					<input type="submit" value="Register">
				</p>
			</form>
			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
			<h1>Login</h1>
			<form action="/process/login" method="post">
				{% csrf_token %}
				<p>
					<label for="email_login">Email:</label>
					<input type="email" name="email" id="email_login">
				</p>
				<p>
					<label for="password_login">Password:</label>
					<input type="password" name="password" id="password_login">
				</p>
				<p>
					<input type="submit" value="Login">
				</p>
			</form>
		</div>
	</body>
</html>
