<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Belt Reviewer User Homepage</title>
  </head>
  <body>
    <h1> Welcome, {{ request.session.name }} </h1>
    <h2> Recent Book Reviews:</h2>
    <table>
      <tr>
        <th>Title:</th>
        <th>Author:</th>
        <th>Review:</th>
      </tr>
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
        </tr>
      {% endfor %}
      {% for review in reviews %}
        <tr>
          <td> {{ review.review }}</td>
          <td> {{ review.rating }}</td>
        </tr>
      {% endfor %}
    </table>
    <form action="/books/new">
      {% csrf_token %}
      <input type="submit" value="Add a new review">
    </form>
  </body>
</html>
