<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Product</title>
  </head>
  <body>
    <h1>Add a new product</h1>
    <form action=/product method='POST'>
      {% csrf_token %}
      <p>Name: <input type='text' name='name'></p>
      <p>Description: <input type='text' name='description'></p>
      <p>Price: <input type='text' name='price'></p>
      <input type='submit'>
    </form>
    <form action=/product method='get'>
      {% csrf_token %}
      <input type='submit' value='Back'>
    </form>
  </body>
</html>
